<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Site that makes decisions for you">
    <meta name="author" content="Niels Okker">
    <link rel="icon" href="logo.png">

    <title>DecisionMaker - Let me choose for you!</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/cover.css" rel="stylesheet">
</head>

<body ng-app="DecisionMaker">

<div class="container" ng-controller="DmCtrl">
    <div class="header clearfix">
        <h3 class="white_header">DecisionMaker </h3>
    </div>

    <div class="well row" ng-hide="decisionHasBeenMade">
        <p class="lead">Write a question, choose the possible answers and let this site decide!</p>
        <h4> Question</h4>
        <div class="input-group col-lg-offset-3 col-lg-6 input-group-lg" >
            <span class="input-group-addon" ><span class="glyphicon glyphicon-star"> </span></span></span>
            <input type="text" class="form-control" placeholder="Write down your question!" aria-describedby="basic-addon1" ng-model="question">
        </div>
        <br>
        <br>
        <h4> Question</h4>
            <answer ng-repeat="x in answers track by $index"></answer>
           <div class="input-group col-lg-offset-3 col-lg-6 input-group-lg"><button class="btn btn-sm btn-primary pull-right btn_align_right_size" ng-click="addField()">   <span class="glyphicon glyphicon-plus"> </span></button></div>
        <br><br>


        <p><a class="btn btn-lg btn-success" href="#" role="button" ng-click="makeDecision()">Let DecisionMaker pick his favourite!</a></p>

    </div>

    <div class="well row" ng-show="decisionHasBeenMade">
        <p class="lead">Decision has been made!</p>

        <p class="lead">Your question was: {{question}}</p>

        <p class="lead">Our answer is : {{answers[getRandomIndex()].answer_string}}</p>
        <div class=" col-lg-6 input-group-lg"><a class="btn btn-lg btn-success" href="#" role="button" ng-click="makeDecision()">Let DecisionMaker pick his favourite AGAIN!</a></div>
        <div class=" col-lg-6 input-group-lg"><a class="btn btn-lg btn-warning" href="#" role="button" ng-click="restart()">Try another question!</a></div>
    </div>
    <footer class="footer well row">
        <p>&copy; Niels Okker &amp; Jeroen Overeem 2016</p>
    </footer>


</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js" ></script>
<script src="main.js"></script>
<script src="answer.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>